#career .news-title h2{
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#career .news-title hr{
    width: 20%;
    margin: auto;
    padding: 1px;
    margin-bottom: 20px;
}

#career .blog{
    float: left;
    width: 30%;
    padding: 5px;
}

#career .blog .header{
    display: flex;
}

#career .blog .header img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 40px;
}

#career .blog .header .header-title .location{
    display: flex;
    align-items: center;
    color: #666666;
}

#career .blog .header .header-title .location i{
    margin-right: 10px;
}

#career .blog .header .header-title .location p{
    margin: 0;
    padding: 0;
}

#career .blog  .footer-card{
    display: flex;
    justify-content: space-between;
}

#career .blog  .footer-card p{
    margin: 0;
    padding: 0;
    color: #666666;
    font-size: 12px;

}

#career .blog  .footer-card a{
    text-decoration: none;
    color: #666666;
    font-size: 12px;
}

@media screen and (max-width: 500px) {
    #career .blog{
        width: 100%;
    }
}