.contact-info{
    list-style: none;
}

.contact-info li{
    display: flex;
    align-items: center;
    padding: 15px;
    
}

.contact-info li a{
    text-decoration: none;
    color: rgb(129, 121, 121);
}

.contact-info li i{
    color: #fff;
    background-color: #000;
    padding: 20px;
    margin-right: 10px;
    border-radius: 50%;
}

#contact-title{
    text-align: center;
}

#contact-title hr{
    width: 20%;
    margin: auto;
    margin-bottom: 30px;
    padding: 1px;
}