
ul li a{
    transition: all 0.3s;
}

ul li a:hover{
    font-size: 18px;
    color: #fff;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
}

.navbar-toggler-icon{
    color: #fff !important;
}

#dropdown-image{
    border: 1px solid #000;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 5px;
    border-radius: 80%;
}


@media screen and (max-width: 960px) {
    ul {
        display: none;
    }
}